<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>生活的艺术-台湾地区团练表</title>
<include file="Common:top" />
<style>

.t-body{
	background-color:#FFF;
	width:100%;

	}
.t-head{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bolder;
	color:#FFF;
}
.t-table{
	margin:0px auto;
   width:90%;
   height:auto;
   margin-left:5%;
   margin-bottom:40px;
}
</style>
</head>

<body class="t-body">
<div class="t-head">台湾地区团练地址表</div>
<div class="t-table">
	<table border="1px solid black"  width="100%" align="center" height = "1000px" cellspacing="0">
 		<tr align="center">
        	<td colspan="6" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">大台北地区</td>
        </tr>
 		<tr align="center" height="20px">
        	<td rowspan="5">星期一</td>
            <td>时间</td>
            <td>老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
 		<tr align="center" height="80px">
        	<td>
            	<table width="200px">
                	<tr>
                    	<td style="border-bottom:1px solid black">09:00~11:30 瑜珈 + 整套呼吸法</td>
                    </tr>
                    <tr>
                    	<td>18:30~21:00 瑜珈 + 整套呼吸法</td>
                    </tr>
                </table>
            </td>
            <td>台灣中心老師群</td>
            <td>生活的藝術台灣全國中心南京東路2段178號14樓02-2563-2103</td>
            <td>收費：單次150元 / 年繳3600元</td>
         </tr>
 		<tr align="center" height="100px">
        	<td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>蘇美修等老師群</td>
            <td>八德路3段團練場-財經天廈台北市八德路3段219號11樓(樓下為八方雲集及大同3C)蘇美修老師: 0919-952258 </td>
            <td>交通：板南線國父紀念館站5號出口往光復北路方向約8分鐘，公車光復路口站：0東、202、203、205、257、276、605、605副線、605新台五線、1191 收費：單次100元 / 年繳2400元 用品：自備瑜珈墊、蓋身體的薄被或大毛巾</td>
        </tr>
        <tr align="center" height="100px">
        	<td>19:00 – 21:00 Sri Sri Yoga 完美瑜珈團練</td>
            <td>陳景鳳等老師群</td>
            <td>信義團練教室 (原中華電信) 台北市信義路二段7號之一 (松錦園) 陳景鳳老師：0937-060-827</td>
            <td>交通：公車信義杭州路口站：0東、3、20、22、38、204、1503、信義幹線捷運東門站  2 號出口步行約5  分鐘特色：限量提供瑜珈墊，容納約30人收費：單次100元</td>
        </tr>
        <tr align="center" height="100px">
        	<td>18:30靜坐19:30整套呼吸法</td>
            <td>簡麗莞老師</td>
            <td>大坪林簡老師家陳碧華志工：0973-744-403</td>
            <td>場地空間有限，請先與志工聯絡</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期二</td>
            <td>09:30靜坐10:30整套呼吸法</td>
            <td>簡麗莞老師</td>
            <td>大坪林簡老師家陳碧華志工：0973-744-403</td>
            <td>場地空間有限，請先與志工聯絡</td>
        </tr>
        <tr align="center" height="50px">
        	<td rowspan="2">星期三</td>
            <td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>賴志鵬 莊學琴 楊秀綉</td>
            <td>板橋團練場(近期場地將異動¸請先電話確認) 板橋府後街8 號2樓(河邊生活館樓上) 賴志鵬老師：0919-327872</td>
            <td>交通：板南線府中站一號出口 用品：自備瑜珈墊、蓋身體的薄被或大毛巾</td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>李承權等老師群</td>
            <td>內湖清白里活動中心(由左側門進入) 台北市內湖星雲街161巷3號1樓 李承權老師：0989-669521 義工 : 蔡淑惠 0922-988063</td>
            <td>交通：文湖線內湖站2號出口，步行5~7分鐘 特色：木質地板舞台，拋光石英地磚,挑高寬敞通風佳 收費：單次100元  / 半年繳1000元 用品：自備瑜珈墊、蓋身體的薄被或大毛巾</td>
        </tr>
        <tr height="20px"></tr>
        <tr align="center" height="50px">
        	<td rowspan="3">星期三</td>
            <td>18:30~21:00 瑜珈 + 整套呼吸法</td>
            <td>郭榮勳 傅慧凌 吳孟恬 陳姿吟 陳景鳳 等老師</td>
            <td>文山區木新路2段2號 3樓木柵復活堂 （永慶房屋旁） 吳素菁0934-014626 程秀梅0930975717 蕭明潔0938123258</td>
            <td>交通:近政大 用品:請自備瑜珈墊</td>
        </tr>
        <tr align="center" height="50px">
        	<td>18:30 -21:00 瑜珈 + 整套呼吸法</td>
            <td>張素琴 余嘉珍</td>
            <td>中和區中興街200號(福樂幼兒園) 余嘉珍老師 0927-028813</td>
            <td>交通: 捷運中和景安站可步行  公車站 - 游氏宗祠 用品:  請自備瑜珈墊 收費: 單次100元</td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:00 瑜伽20:00 整套呼吸法</td>
            <td>簡麗莞老師</td>
            <td>德噶襌修中心(全德) 台北市光復南路1號B1 華泰銀行旁地下室 黃秋明志工: 0911-222-929</td>
            <td>交通：板南線國父紀念館5號出口，步行約5~7分鐘；公車監理站或光復南路口 特色：空調，容納20~25人 用品：自備瑜珈墊、蓋身體的薄被或大毛巾 第一次前往的學員，請先與志工聯絡</td>
        </tr>
        <tr align="center" height="50px">
        	<td rowspan="3">星期四</td>
            <td>09:30~ 12:00 瑜珈 + 整套呼吸法</td>
            <td>楊莉莉 陳淑敏 等老師</td>
            <td>文山區木新路2段2號 3樓 木柵復活堂 （永慶房屋旁）方曉鶯 : 0935-006076</td>
            <td>交通:近政大 用品:請自備瑜珈墊  </td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:25~21:30 瑜珈 + 整套呼吸法</td>
            <td>陳紫軒</td>
            <td>新店市建國路136號6樓 陳紫軒老師：0936-103876</td>
            <td>交通：新店線大坪林站1號出口，民權路直走，同仁醫院左轉建國路，步行約5~10分鐘 用品：限量提供瑜珈墊,  請自備蓋身體的薄被或大毛巾 收費: 單次100元(初次參加者請先來電告知)。</td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:00 ~ 21:00 唱場+ 靜心+知識</td>
            <td>台灣中心老師群</td>
            <td>生活的藝術台灣全國中心 南京東路2段178號14樓 02-2563-2103</td>
            <td>費用：隨喜</td>
        </tr>
        <tr height="20px"></tr>
        <tr align="center" height="50px">
        	<td rowspan="4">星期五</td>
            <td>14:00 - 17:00 瑜珈 + 整套呼吸法</td>
            <td>陳季汝</td>
            <td>新店路207號3樓(民眾服務中心) 陳季汝老師: 0913-117537 許玉婷義工: 0910-190699  </td>
            <td>交通:新店捷運總站往碧潭吊橋方向3分鐘 收費: 單次100元 / 季繳單次50元 用品: 限量提供瑜伽墊. 請自備蓋身體的薄被或大毛巾</td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>陳景鳳 吳清美 郭美君 等老師群</td>
            <td>信義團練教室 (原中華電信) 台北市信義路二段7號之一 (松錦園) (金甌女中正對面) 陳景鳳老師：0937-060-827</td>
            <td>交通：公車信義杭州路口站：0東、3、20、22、38、204、1503、信義幹線 捷運東門站  2 號出口步行約5  分鐘 收費：單次100元 特色：限量提供瑜珈墊，容納約30人</td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:00~22:00 瑜珈 + 整套呼吸法</td>
            <td>李承權等老師群</td>
            <td>文化大學推廣部建國本部 台北市建國南路二段231號6樓 李承權老師：0989-669-521</td>
            <td>交通：文湖線科技大樓站，沿和平東路步行約5~7分鐘至建國南路口 特色：容納20~25人用品：自備瑜珈墊、蓋身體的薄被或大毛巾 收費：單次100元 / 季繳1000元 / 年繳3600元 備註：當日團練如有異動詳1F電視牆公告欄「呼吸法團練」或電洽承權老師</td>
        </tr>
        <tr align="center" height="50px">
        	<td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>台灣中心老師群群</td>
            <td>林口團練場 林口區東湖路86號5樓(電鈴按86) 義工：Andy 康 0937-954-551</td>
            <td>交通：公車920,1211,1210,1209,1206,1208；松柏蘆站下車步行約5分鐘(由育林街口進去) 特色：華麗木質地板，容納12人 收費：單次100元 / 年繳2400元</td>
        </tr>
        <tr align="center" height="50px">
        	<td rowspan="5">星期六</td>
            <td>14:30 ~ 17:30 瑜珈 + 整套呼吸法</td>
            <td>李盈毓 老師</td>
            <td>大坪林/美養莊園教室 新店區二十張路11巷1-1號 李盈毓老師 0921-193-685 義工:常淑芬0932-129-763 </td>
            <td>交通: 捷運大坪林站下車1 號出口 步行ˇ3分鐘 備註: 限量瑜珈墊</td>
        </tr>
        <tr align="center" height="50px">
        	<td>08:00 瑜伽 09:00 整套呼吸法</td>
            <td>簡麗莞 老師</td>
            <td>汐止老爺山莊 張毓鴻志工 Vicky : 0926-816-430</td>
            <td>場地空間有限，第一次前往的學員，請先以簡訊與志工聯絡</td>
        </tr>
        <tr align="center" height="50px">
        	<td>06:50 ~ 9:30  瑜珈 + 整套呼吸法</td>
            <td>台灣中心老師群</td>
            <td>中山團練場-民安區民活動中心 台北市長安西路3號3樓之 302-2563-2113</td>
            <td>交通：北投或淡水線中山捷運站步行約5~7分鐘 特色：石質地板，空調+開窗，容納約60~70人 收費：單次100元 / 年繳2400元</td>
        </tr>
        <tr align="center" height="50px">
        	<td>9:00 ~ 11:30 瑜珈 + 整套呼吸法</td>
            <td>傅慧凌</td>
            <td>石碇靜心亭 (近文山草堂) 方曉鶯義工 0935-076-006 方淑芳義工0910-776-638</td>
            <td>交通：需要安排共乘,  請聯絡義工 用品：自備蓋身體的薄被或大毛巾</td>
        </tr>
         <tr align="center" height="50px">
        	<td>6:30 ~ 9:10  瑜珈 + 整套呼吸法</td>
            <td>張梅華</td>
            <td>新店中正路 280 巷 2 號 中正川普大厦一樓瑜珈教室 張素敏義工 0960-121898</td>
            <td>用品：自備瑜珈墊、蓋身體的薄被或大毛巾</td>
        </tr>
         <tr align="center" height="50px">
        	<td rowspan="2">星期日</td>
            <td>08:00靜坐10:00整套呼吸法</td>
            <td>簡麗莞 老師</td>
            <td>大坪林簡老師家 陳碧華志工：0983-869-413 </td>
            <td>場地空間有限，請先與志工聯絡</td>
        </tr>
         <tr align="center" height="50px">
        	<td>6:45–8:30 108拜日式 8:30–10:30 蓮花修持法 10:30 – 12:30  瑜珈 + 整套呼吸法</td>
            <td>陳景鳳</td>
            <td>信義團練教室 (原中華電信) 台北市信義路二段7號之一(松錦園) (金甌女中正對面) 陳景鳳老師：0937-060827 李潔梅義工 : 0911-33869</td>
            <td>交通：公車信義杭州路口站：0東、3、20、22、38、204、1503、信義幹線捷運東門站  2 號出口步行約5  分鐘 收費：單次100元特色：限量提供瑜珈墊，容納約30人 (請電洽確定是否有團練)  ;  (開門,右側對講機請按”0101  呼叫  ”  )</td>
        </tr>
 </table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "400px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">宜蘭地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期一</td>
            <td>18:30~21:00 瑜珈 + 整套呼吸法</td>
            <td>林俊強</td>
            <td>宜蘭團練場 宜蘭縣冬山鄉梅花路859號 林俊強老師：0963-032919 黃  瑋老師 : 0910-336039</td>
            <td>交通：1)自行開車者可停在屋後空地, 在宜蘭冬山鄉梅花湖附近;2) 國光號 : 於羅東火車前站『羅東鎮公正路110號(粉圓妹樓下)』搭乘國光號1795線至土雞城站下車，下車後走路3-5分鐘可至團練處;3) 首都客運 : 於羅東火車後站『羅東鎮光榮路296號』搭乘首都客運281線至梅花路口站下車，下車後走路3-5分鐘可至團練處;特色 : 不需攜帶瑜珈墊 , 容納約 15 人;收費 : 單次 100 元</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期六</td>
            <td>08:30~12:00 早上 瑜珈 + 整套呼吸法</td>
            <td>林俊強</td>
            <td>宜蘭團練場 宜蘭縣冬山鄉梅花路859號 林俊強老師：0963-032919 黃  瑋老師 : 0910-336039</td>
            <td>交通：1)自行開車者可停在屋後空地, 在宜蘭冬山鄉梅花湖附近;2) 國光號 : 於羅東火車前站『羅東鎮公正路110號(粉圓妹樓下)』搭乘國光號1795線至土雞城站下車，下車後走路3-5分鐘可至團練處;3) 首都客運 : 於羅東火車後站『羅東鎮光榮路296號』搭乘首都客運281線至梅花路口站下車，下車後走路3-5分鐘可至團練處;特色 : 不需攜帶瑜珈墊 , 容納約 15 人;收費 : 單次 100 元</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "400px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">桃園、中壢地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期五</td>
            <td>19:00~22:00 瑜珈 + 整套呼吸法</td>
            <td>黃瓊緯 李明瑾 陳玟錡 呂靜如</td>
            <td>中壢團練場-芳榕瑜珈教室 中壢市苑平街21號 03-428-41111  黃瓊緯老師0920-832-310</td>
            <td>交通：中壢後火車站，健行科大附近頂好超市巷子進入，開車者可停在環中東路上；特色：瑜珈教室，不需額外攜帶瑜珈墊，容納約20人；收費：單次100元</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期日</td>
            <td>07:30~10:30 (上午) 瑜珈 + 整套呼吸法</td>
            <td>黃瓊緯 李明瑾 陳玟錡 呂靜如</td>
            <td>中壢團練場-芳榕瑜珈教室 中壢市苑平街21號 03-428-41111  黃瓊緯老師0920-832-310</td>
            <td>交通：中壢後火車站，健行科大附近頂好超市巷子進入，開車者可停在環中東路上；特色：瑜珈教室，不需額外攜帶瑜珈墊，容納約20人；收費：單次100元</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "400px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">新竹地区</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期一</td>
            <td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>吳亮中 林鴻欽 嚴梓芸</td>
            <td rowspan="2">香山團練場- 新竹市中華路五段722號 吳亮中老師 0937-133-863</td>
            <td>交通：北二高香山交流道(南下新竹下一個交流道)，往新竹市區方向約3分鐘;特色：容納約25~30人;收費：單次100元 / 季繳1100元</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期三</td>
            <td>09:00~12:00  瑜珈 + 整套呼吸法</td>
            <td>吳亮中 李卿</td>
            <td>交通：北二高香山交流道(南下新竹下一個交流道)，往新竹市區方向約3分鐘；特色：場地容納約25~30人；收費：依參加學員人數分攤，每次約100~150元</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期日</td>
            <td>林鴻欽</td>
            <td>黃瓊緯 李明瑾 陳玟錡 呂靜如</td>
            <td>新竹光明新村 請先電話聯絡 聯絡人:林鴻欽老師　0988-966535</td>
            <td>用品:請自備瑜珈墊</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "200px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">苗栗地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期五</td>
            <td>18:30  – 21:00 瑜珈 + 整套呼吸法</td>
            <td>吳麗貞老師</td>
            <td>苗栗縣三義鄉八股路館前七巷 1-17號2樓 吳麗貞老師0975-938-597</td>
            <td>備註: 限量提供瑜珈墊</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "500px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">台中地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期一</td>
            <td>19:00~22:00 瑜珈 + 整套呼吸法</td>
            <td>許麗環</td>
            <td>台中中心團練場 台中市柳川西路3段23號7樓 許麗環老師：0939-939923</td>
            <td>特色：木質地板附座墊 收費：單次100元/年繳48週3600元  義工：吳婉嘉 0939-658-615或2261-3158#6302/吳妱靜 (白天)  0961-139-907</td>
        </tr>
        <tr align="center" height="20px">
        	<td rowspan="2">星期四</td>
            <td>19:00~22:00 瑜珈 + 整套呼吸法</td>
            <td>侯園俊(阿俊) 楊心儀</td>
            <td>台中牛頓教室-牛頓幼稚園3F 台中市博館三街86號3樓 地下室為牛頓溫水游泳池 楊心儀老師: 04-2376-7150 /
            0952-881-325</td>
            <td>交通：華美西街河兩側(晚上確定不收費)；科博館周邊(開單到晚22:00止,  每小時30元)；健行路旁由博館路進入的科博館停車場,每小時20元,  24小時開放,  但太晚需電洽管理員來收費開門;牛頓幼稚園專屬停車場不可以停,否則每小時200元；特色：木質地板附鋪地墊(可取代瑜珈墊,  但無座墊)；收費：單次100元或隨喜樂捐,  學生可免費</td>
        </tr>
        <tr align="center" height="20px">
            <td>18:30 瑜伽 19:30 團練</td>
            <td>簡麗莞老師</td>
            <td>台中市西屯區正覺堂 王聖琝  0981-573-866</td>
            <td>第一次前往的學員，請先與志工聯絡</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期五</td>
            <td>(每月一次)晚上  7:30~9:30 唱場與靜心、知識加美食分享</td>
            <td>侯園俊(阿俊）</td>
            <td>生活的藝術台中中心 台中市柳川西路3段23號7樓)；費用：隨喜；洽詢電話︰04-22206112；張碧芳義工0955-260400；吳妱靜義工0961-139907；吳婉嘉義工0939-658615</td>
            <td>103 年7/18，8/15，9/19，10/24；晚上  7:30~8:30 唱場與靜心；8:30~9:30 知識與美食分享；歡迎學員及非學員大家一起來喔!!；
            ；歡迎大家準備素食無蛋無五辛之點心與大家共享~~；請自備餐具及水杯謝謝!!</td>
        </tr>
         <tr align="center" height="20px">
        	<td rowspan="2">星期六</td>
            <td>9:00~12:00 瑜珈 + 整套呼吸法</td>
            <td>王雅慧</td>
            <td>台中生活的藝術教室;台中市中美街623號;04-2326-7758 / 0936-242787</td>
            <td>特色：磨石子地板附座墊,  另有一間小間的是木質地板;請先電話連絡是否該週有團練</td>
        </tr>
         <tr align="center" height="20px">
            <td>9:00~12:00 瑜珈 + 整套呼吸法</td>
            <td>張雪鑾</td>
            <td>台中市西屯區 台中市西屯區長安路二段158號2樓 張雪鑾老師 : 0911-799398</td>
            <td></td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "200px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">埔里地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期三</td>
            <td>17:00~21:00 瑜珈 + 整套呼吸法</td>
            <td>藍來花</td>
            <td>埔里團練場-埔里鎮西安路三段117號 藍來花老師：0912-595235</td>
            <td>請先電話連絡是否該週有團練</td>
        </tr>
</table>
</div>
<!---->
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "200px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">嘉義、彰化、員林地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期二</td>
            <td>18:00~21:00 瑜珈 + 整套呼吸法</td>
            <td rowspan="3">劉惠珍</td>
            <td>佛光山嘉義會館 嘉義博愛路二段241號401室 劉惠珍老師0956-351-565 / 04-873-3965 </td>
            <td>義工：王富鈴 0921-667-799</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期三</td>
            <td>18:30~21:30 瑜珈 + 整套呼吸法</td>

            <td>彰化團練場 彰化市中正路二段675巷36-38號5樓 劉惠珍老師0956-351-565 / 04-873-396</td>
            <td>陳碧玲老師0911-431-787 / H:04-722-8913 / O:04-722-8993 備註：(隔週)</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期日</td>
            <td>14:00~17:00 瑜珈 + 整套呼吸法</td>

            <td>員林團練場 彰化縣員林鎮惠明街18號 劉惠珍老師0956-351-565 / 04-873-3965 </td>
            <td>義工：莊小青 0921-312-751</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "200px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">台南、高雄地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期一</td>
            <td>19:30~22:00 瑜珈+ 整套呼吸法</td>
            <td>蘇榮昌</td>
            <td>高雄團練場 高雄市三民區褒揚街103號5樓 蘇榮昌老師0929-511931 義工：黃雅紅0952-505658 / 07-533-7953 常淑德0958-589183</td>
            <td>收費：單次100元 備註：不需帶瑜珈墊</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期五</td>
            <td>19:30~21:30 淨化呼吸法團練 包含瑜珈,整套呼吸法,知識分享</td>
            <td>鄭秀全</td>
            <td>台南富立團練場  台南市中西區民生路二段399號 (富立世紀大樓) 鄭秀全老師0932-826026</td>
            <td>義工：淑君0922-002596</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期日</td>
            <td>14:00~17:00 淨化呼吸法團練 包含瑜珈,整套呼吸法,知識分享</td>
            <td>黃阿敏</td>
            <td>台南團練場 –大學東寧社區活動中心二樓 台南市林森路二段252號 黃阿敏老師0989-284-859</td>
            <td>義工：舜媛0921-408266；收費：100  / 次</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "200px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">屏東地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期五</td>
            <td>19:30~22:00 瑜珈 + 整套呼吸法</td>
            <td>侯園俊 (或另行安排)</td>
            <td>國立屏東商業技術學院 屏東市民生東路51號 阿俊老師：0971-074288</td>
            <td>備註 : 不一定哪週，請先電話確認每月團練日期  星期五 晚上 18:45 或 19:30開始 請先確認 (有時會異動) 義工: 鍾竹英 0921-598337 / 劉淑娟 0953-032-528</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期六</td>
            <td>19:00~21:30 瑜珈 + 整套呼吸法</td>
            <td>台灣中心老師</td>
            <td>東港鎮民眾服務社；屏東縣東港鎮光復路一段268號；黃楠昌：0933-337579</td>
            <td>各地老師過來支援帶團練</td>
        </tr>
</table>
</div>
<!---->
<div class="t-table">
<table border="1px solid black"  width="100%" align="center" height = "200px" cellspacing="0">
 		<tr align="center">
        	<td colspan="5" height="30px" style="font-size:20px; font-weight:bolder; background-color:#3FF;">台東地區</td>
        </tr>
        <tr align="center" height="20px">
            <td colspan="2">时间</td>
            <td width="50px">老师</td>
            <td>地点</td>
            <td>交通/特色/收费/备注</td>
        </tr>
        <tr align="center" height="20px">
        	<td>星期日</td>
            <td>瑜珈 + 整套呼吸法</td>
            <td>台灣中心老師</td>
            <td>台東市興安路一段200 巷 21  弄 49  號 義工: 邱若婷  0958-394666</td>
            <td>備註 : 不一定哪週，請先電話確認每月團練日期  用品: 限量瑜珈墊提供</td>
        </tr>
        <tr align="center" height="20px">
        	<td></td>
            <td>月圓唱場+靜心</td>
            <td></td>
            <td>WONNY 咖啡教室 台東市成功路146 號 義工: 邱若婷  0958-394666</td>
            <td>備註 : 通常會在農歷十五的晚上, 請先電話確認日期及時間</td>
        </tr>
</table>
</div>
<include file="Common:footer" />
</body>
</html>