<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title></title>
  <include file="Common:top"/>
  <style>
  .get-verifycode {
  	display: inline-block;
  	width: 140px;
  	font-size: 14px;
  	text-align: center;
  	background-color: #ffae00;
  	color: #fff;
  	padding: 6px 0;
  	outline: none!important;
  	border: none!important;
  }
  .get-verifycode:hover,
  .get-verifycode:focus,
  .get-verifycode:active {
  	color: #fff;
  }
  .get-verifycode.verify-disabled {
  	background-color: #ccc;
  }
  </style>
</head>
<body>

<div class="loginform-wrapper loginform-wrapper1 has-background-image">
	<div class="loginform-inner">
	<h3 class="signform-title">找回密码</h3>
		<form method="post" action="" class="form-horizontal sign-form" >
			<div class="form-group">
				<label for="phone" class="login-icon"><img src="__PUBLIC__/yoga/img/phone.png" alt="" class="pull-left" style="margin-left:-3px;"></label>
				<div class="login-input">
					<input type="text" class="form-control" id="phone" placeholder="手机号" name="phone">
				</div>
				<div class="error-container" style="margin-left: 60px;"></div>
			</div>
			<div class="form-group">
				<label for="verify" class="login-icon"><img src="__PUBLIC__/yoga/img/verify-code.png" alt="" class="pull-left"></label>
				<div class="login-input">
					<input type="text" class="form-control" id="verify" placeholder="验证码" name="verify">
				</div>
				<div class="error-container" style="margin-left: 60px;"></div>
			</div>
			<div class="form-group">
				<button href="#" class="get-verifycode pull-right">获取验证码</button>
			</div>
			<div class="form-group error-container verify-error-container">
				<span></span>
			</div>
			<div class="form-group">
				<div class="login-submit">
					<button type="submit" class="btn btn-default getpassword-next">下一步</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="loginform-wrapper loginform-wrapper2 has-background-image" style="display: none;">
	<div class="loginform-inner special">
		<form method="post" action="" class="form-horizontal password-form" id="form0">

			<div class="form-group">
				<label for="phone" class="login-icon" style="width:90px;padding-top:15px;">输入新密码</label>
				<div class="login-input" style="margin-left:95px;">
					<input type="password" class="form-control" id="password1" placeholder="" name="password1">
				</div>
				<div class="error-container" style="margin-left: 95px;"></div>
			</div>
			<div class="form-group">
				<label for="verify" class="login-icon" style="width:90px;padding-top:15px;">重新输入新密码</label>
				<div class="login-input"  style="margin-left:95px;">
					<input type="password" class="form-control" id="password2" placeholder="" name="password2">
				</div>
				<div class="error-container" style="margin-left: 95px;"></div>
			</div>
			<div class="form-group">
				<div class="login-submit">
					<button type="submit" class="btn btn-default password-complete">完成</button>
				</div>
			</div>
		</form>
	</div>
</div>


<script type="text/javascript" src="__PUBLIC__/yoga/js/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/yoga/js/vendor/data.js"></script>
<script type="text/javascript" src="__PUBLIC__/yoga/js/vendor/jquery.city.select.min.js"></script>

<script type="text/javascript">
	$('.sign-form').validate({
		rules: {
			"phone": {
				required: true,
				validPhone: true
			},
			"verify": {
				required: true
			}
		},
		messages: {
			"phone": {
				required: "此项为必填项",
				validPhone: "手机号格式不正确"
			},
			"verify": {
				required: "此项为必填项"
			}
		},
		ignore: '.ignore',
		errorPlacement: function(error, element) {
			error.appendTo(element.closest('.form-group').find('.error-container'))
		}
	});

	$.validator.addMethod("validPhone", function(value, element, params) {
		var re = new RegExp('^\\d{11}$');
		if (params) {
			value = parseInt(value)
			return re.test(value);
		}
		return true;
	});

	$.validator.addMethod("valueNotEquals", function(value, element, params) {
		return value != params;
	});

	$('.get-verifycode').click(function(e) {
		e.preventDefault();
		if (!$('input[name=phone]').valid()) {
			return;
		}
		var duration = 60;
	  	var start = new Date();
	  	var startTime = start.getTime();
	  	var process = setInterval(function() {
	  		var current = new Date();
	  		var currentTime = current.getTime();
	  		var elapsedTime = Math.floor((currentTime - startTime) / 1000);
	  		if (elapsedTime < duration) {
	  			var btnText = (duration - elapsedTime) + '&nbsp;s后重新获取';
	  		}
	  		else {
	  			clearInterval(process);
	  			var btnText = '获取验证码';
	  			$('.get-verifycode').removeClass('verify-disabled');
	  			$('.get-verifycode').prop('disabled', false);
	  		}
	  		$('.get-verifycode').html(btnText);
	  	}, 250);
	  	$(this).addClass('verify-disabled');
	  	$('.get-verifycode').prop('disabled', true);
		/* 获取验证码 */
		$.ajax({
			url: "{:U('Login/putmessage')}",
			data: {
				tel: $('input[name=phone]').val()
			},
			dataType: 'json',
			success: function(data) {
				console.log(data)
				$('.verify-error-container').html('')
				if (data == 0) {
					$('.verify-error-container').html('您今日的手机号验证次数达到上限')
				}
			}
		});
	})

	$('.getpassword-next').click(function(e) {
		e.preventDefault();
		if (!$('.sign-form').valid()) {
			return;
		}
		/* 验证码是否正确 */
		$.ajax({
			url: "{:U('Login/getstatus')}",
			data: {
				code: $('input[name=verify]').val(),
				tel: $('input[name=phone]').val()
			},
			dataType: 'json',
			success: function(data) {
				console.log(data)
				if (data == 1) {

					/* 验证成功 */
					$('.loginform-wrapper1').hide();
					$('.loginform-wrapper2').show();

					$('.verify-error-container').html('');
				}
				else {
					$('.verify-error-container').html('验证码错误');
				}
			}
		});
	});

	$('.password-form').validate({
		rules: {
			"password1": {
				required: true
			},
			"password2": {
				required: true,
				equalTo: '#password1'
			}
		},
		messages: {
			"password1": {
				required: "此项为必填项"
			},
			"password2": {
				required: "此项为必填项",
				equalTo: "两次输入密码不一致"
			}
		},
		ignore: '.ignore',
		errorPlacement: function(error, element) {
			error.appendTo(element.closest('.form-group').find('.error-container'))
		}
	});

	$('.password-complete').click(function(e) {
		e.preventDefault();


			$.ajax({
				url: "{:U('Login/checkpwd')}",
				data:$('#form0').serialize(),
				dataType: 'json',
				success: function(data) {
					if(data.status==1){
						layer.alert(data.info, {icon: 6}, function(index){
							layer.close(index);
							window.location.href=data.url;
							});

						return false;
					}else{
						layer.alert(data.info, {icon: 6}, function(index){
							layer.close(index);

							});

						return false;
					}
				}
			});


	});
</script>
  <include file="Common:footer"/>

</body>
</html>