<!DOCTYPE html><html><head><meta charset=utf-8>
<title>生活的艺术-活动列表</title>

<include file="Common:top" />
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">


<script>
window.__public__='__PUBLIC__';
window.__url__='__CONTROLLER__/active_list';
</script>
<style>.window-indi {
     position: fixed;
     z-index: 10000;
     bottom: 0;
     right: 0;
     width: 50px;
     height: 30px;
     line-height: 30px;
     color: #ffffff;
     font-size: 20px;
     text-align: center;
     background-color: grey;
   }</style>
   <link href=__PUBLIC__/yoga/css/app.7875ef2411a2a1f42ad244c850dd1465.css rel=stylesheet></head><body><app></app><script>$(window).resize(function() {
     console.log('ok');
     $('.window-indi').html($('body').innerWidth());
   }).trigger('resize');</script><script type=text/javascript src=__PUBLIC__/yoga/js/manifest.3c8a8ba77e1a56d142ed.js></script><script type=text/javascript src=__PUBLIC__/yoga/js/vendor.045023d4653938ae0f50.js></script><script type=text/javascript src=__PUBLIC__/yoga/js/app.405ffe56b329bbc71638.js></script>
<include file="Common:footer"/>
   </body></html>