<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/static.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <style type="text/css">
    html,
    body {
      height: 100%;
      position: relative;
      overflow-x: visible;
    }
    .backto-top {
      bottom: 70px;
    }
  </style>
  <title>详情页</title>
</head>
<body>

<div class="knowlg-detail">
  <div class="knowlg-detail-header">
    <h2>让生命成为欢庆</h2>
    <div class="knowlg-detail-data clearfix">
      <div class="knowlg-time"><img style="width: 16px;" src="./img/time.png" alt="">&nbsp;<span>刚刚发布</span></div>
      <div class="knowlg-icon-wrapper">
        <div class="knowlg-view"><img src="./img/icon1.png" alt="">&nbsp;<span>26</span></div>
        <div class="knowlg-praise"><img src="./img/icon2.png" alt="">&nbsp;<span>17</span></div>
        <div class="knowlg-like"><img src="./img/icon3.png" alt="">&nbsp;<span>13</span></div>
      </div>
    </div>
  </div>
  <div class="knowlg-detail-body">
    <div class="knowlg-image-wrapper">
      <img src="img/section1.png" alt="">
    </div>
    <div class="detail-summary">
      <div class="detail-inner-wrapper">
      <div><img src="./img/icon4.png" alt=""><span>日期：</span>&nbsp;<span>2016-07-04～2016-07-08</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>报名中</span></div>
      <div><img style="width:18px;" src="./img/icon5.png" alt=""><span>地点：</span>&nbsp;<span>AOL上海中心</span></div>
      <div><img style="width:18px;" src="./img/icon6.png" alt=""><span>老师：</span>&nbsp;<span>小明</span><span style="margin-left: 15px;">义工：</span>&nbsp;<span>小红</span></div>
      <div><img src="./img/icon7.png" alt=""><span>名额：</span>&nbsp;<span>11/50</span></div>
      </div>
    </div>
    <div class="knowlg-detail-content">
      <h3>中国男子篮球队为什么现在不行？</h3>
      <p>先别急着骂我是姚黑什么的，我总结就如下一点：因为中国男篮出了姚明这么个不世出的、过于耀眼的超级天才，导致全中国从上到下都认为姚明的奇迹是可以复制的，处处以姚明为标杆，结果整个中国男篮的整体战术体系、青训模式、选材标准、俱乐部投资侧重点均出了偏差，长时间在错误的路线上行走，出现现在的局面也就不足为奇了。话说中国体育弱势项目这个“农业学大寨”也真不是一时半会的事情，中国足球当年德国强的时候就要学德国头球队，当年巴西强的时候就要“提高球员个人技战术”，都是一路货色。</p>
      <p>姚明毫无疑问是中国历史上最成功、最优秀，甚至称得上最伟大的篮球运动员，不但空前而且非常非常有可能绝后，但姚明之于中国男篮比赛的意义却并没有他对提高中国篮球的国际影响、开拓中国篮球市场、提高中国篮球商业化程度等问题贡献那么大。</p>
      <p>先别急着骂我是姚黑什么的，我总结就如下一点：因为中国男篮出了姚明这么个不世出的、过于耀眼的超级天才，导致全中国从上到下都认为姚明的奇迹是可以复制的，处处以姚明为标杆，结果整个中国男篮的整体战术体系、青训模式、选材标准、俱乐部投资侧重点均出了偏差，长时间在错误的路线上行走，出现现在的局面也就不足为奇了。话说中国体育弱势项目这个“农业学大寨”也真不是一时半会的事情，中国足球当年德国强的时候就要学德国头球队，当年巴西强的时候就要“提高球员个人技战术”，都是一路货色。</p>
      <p>姚明毫无疑问是中国历史上最成功、最优秀，甚至称得上最伟大的篮球运动员，不但空前而且非常非常有可能绝后，但姚明之于中国男篮比赛的意义却并没有他对提高中国篮球的国际影响、开拓中国篮球市场、提高中国篮球商业化程度等问题贡献那么大。</p>
    </div>
    <div class="knowlg-detail-action">
      <a class="knowlg-detail-action-item knowlg-detail-share" href="#">
        <img src="./img/share1.png" alt="">
      </a>
      <a class="knowlg-detail-action-item knowlg-detail-praise" href="#">
        <img src="./img/praise1.png" alt="">
      </a>
      <a class="knowlg-detail-action-item knowlg-detail-like" href="#">
        <img src="./img/like1.png" alt="">
      </a>
    </div>
    <div class="hidden-image-container">
      <img class="show-share" src="./img/share2.png" alt=""><img class="hide-share" src="./img/share1.png" alt=""><img class="hide-praise" src="./img/praise1.png" alt=""><img class="show-praise" src="./img/praise2.png" alt=""><img class="show-like" src="./img/like2.png" alt=""><img class="hide-like" src="./img/like1.png" alt="">
    </div>
  </div>
</div>
<div class="backto-top">
  <a href="#"><img src="./img/up.png" alt=""></a>
</div>
<div class="details-bottom-wrapper clearfix">
  <div class="bottom-btn bottom-btn1">
    <a href="#"><img src="./img/back.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;返回</a>
  </div>
  <div class="bottom-btn bottom-btn2">
    <a href="#"><img src="./img/hand.png" alt="">&nbsp;&nbsp;&nbsp;&nbsp;我要报名</a>
  </div>
</div>
<script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
  $(window).resize(function() {
    var width = $('.knowlg-detail-body').width();
    $('.knowlg-detail-content')
      .find('img, video')
      .each(function() {
        if ($(this).width() > width) {
          $(this.width("100%"));
        }
      })
  }).trigger('resize');
</script>
</body>
</html>