<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/yoga/js/Swiper-3.3.1/css/swiper.min.css">
  <style type="text/css">
    html,
    body {
      height: 100%;
      position: relative;
    }
    .g-content-more {
      text-align: center;
    }
    [v-cloak] {
      display: none;
    }
  </style>
  <script src="http://cdn.bootcss.com/vue/1.0.25/vue.min.js"></script>
  <script src="http://cdn.bootcss.com/vue-resource/0.9.3/vue-resource.min.js"></script>
  <title>欢迎来到生活的艺术首页</title>
  <include file="Common:top"/>
</head>
<body>

  <!-- Swiper 顶部轮播头图-start -->
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <foreach name="banner" item="ba">

          <a href="{$ba.plug_ad_url}" class="swiper-slide"><img src="__PUBLIC__{$ba.plug_ad_pic}"/></a>
          </foreach>
      </div>
      <!-- Add Pagination-->
      <if condition="$banner_count gt 1">

      <div class="swiper-pagination"></div>


      </if>

  </div>
  <!-- Swiper 顶部轮播头图-end -->
<!-- Courses-start -->
  <div class="g-course clearfix">
  <div class="g-course-inner">
  <php> $count=1;</php>
<foreach name="classdata" item="cl">
    <div class="col-xs-12 col-sm-4 course-type {$cl.ct_classname} ">
    <if condition="$count eq 1">
    <div style="margin-right:30px; position:relative;">
    <elseif condition="$count eq 2"/>
    <div style="margin-right:15px;margin-left:15px; position:relative;">
    <elseif condition="$count eq 3"/>
     <div style="margin-left:30px; position:relative;">
    </if>

      <img src="__PUBLIC__{$cl.ct_photo}">

      <div class="description description<?php echo $count;?>">
        <h2 class="descrip-title">{$cl.ct_name}</h2>
        <div class="descrip-text">{$cl.ct_say}</div>

        <a class="btn btn-default descrip-btn descrip-btn<?php echo $count;?> pull-right" href="{:U($cl['ct_url'],array('id'=>$cl['ct_id']))}">了解更多</a>
        <a class="m-descrip-btn" href="#"><span><img src="__PUBLIC__/yoga/img/right2.png" alt=""></span></a>
      </div>
      </div>
      </div>
    <php>$count++;</php>
 </foreach>
    </div>
  </div>
  <div class="g-course-2 clearfix">
  <php>$count_one=1;</php>
  <foreach name="classdata" item="cd">
    <div class="col-xs-4 delPadd">
      <div class="description description<?php echo $count_one;?> clearfix">
        <h2 class="descrip-title">{$cd.ct_name}</h2>
        <a class="m-descrip-btn" href="{:U($cd['ct_url'],array('id'=>$cd['ct_id']))}"><span class="image-wrapper">&nbsp;&nbsp;&nbsp;<img src="__PUBLIC__/yoga/img/right2.png" alt=""></span><span class="image-text">更多</span></a>
      </div>
    </div>
    <php>$count_one++;</php>
    </foreach>

  </div>
  <!-- Courses-end -->
  <!-- content-start -->
   <div class="g-content">
  <div class="g-content-inner">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="content">
          <div class="section" v-for="item in items" v-cloak>
            <a class="section-img-wrap" v-bind:href="item.location_url">
              <img v-bind:src="item.ad_photo | imageprefix">
            </a>
            <div class="section-text-wrap">
              <div class="section-text-header clearfix">
                <div class="col-xs-12 text-header-iconGroup clearfix">
                  <div class="col-xs-12 col-md-12 iconGroup-wrap delPadd">
                    <div class="iconGroup">
                      <div class="icon-wrap"><img src="__PUBLIC__/yoga/img/icon1.png"></div>
                      <div class="icon-text" id="browse">{{item.ad_readnum}}</div>
                    </div>
                    <div class="iconGroup">
                      <div class="icon-wrap"><img src="__PUBLIC__/yoga/img/icon2.png"></div>
                      <div class="icon-text" id="praise">{{item.ad_agreenum}}</div>
                    </div>
                    <div class="iconGroup">
                      <div class="icon-wrap"><img src="__PUBLIC__/yoga/img/icon3.png"></div>
                      <div class="icon-text" id="collect">{{item.ad_savenum}}</div>
                    </div>
                    <div class="iconGroup special-iconGroup">
                      <div class="icon-wrap"><img src="__PUBLIC__/yoga/img/icon4.png"></div>
                      <div class="icon-text" id="activDate"><span v-show="item.ad_is != 3">{{item.ad_starttime}}&sim;{{item.ad_stoptime}}</span><span v-show="item.ad_is == 3">{{item.ad_addtime}}</span></div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 text-header-title" style="display:inline;text-align:left;">{{item.ad_title}}</div>
                </div>
              </div>
              <div class="section-text-speci">{{item.ad_say}}</div>
              <a v-bind:href="item.location_url" class="btn viewDetai-btn pull-right" id="viewDetai">查看详情</a>
              <div class="icon-circle">

                <img v-bind:src="item.is_logo">
              </div>
            </div>
            <!-- 背景连线 -->
            <div class="backLine" v-show="$index != len - 1"></div>
          </div>
        </div>
        <div class="g-content-more">
          <div class="get-more-item" v-show="!is_getting_list&&more"><span class="white-line"></span>
          <a @click.prevent="getMore" href="#"><span>more</span><img src="__PUBLIC__/yoga/img/down.png" alt=""></a></div>
          <div class="loading-gif" v-show="is_getting_list"><img src="__PUBLIC__/yoga/img/loading.gif" alt=""></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="aside">
        <form action="{:U('Index/search')}" id="form0" rol="search" name="searchform">
          <div class="search">
            <div class="aside-option-wrap">

              <div class="icon-search">
                <img src="__PUBLIC__/yoga/img/search.png" id="search" style="cursor:pointer">
              </div>

                <div class="form-group">
                 <input type="text" class="form-control search-index" placeholder="请输入关键词" name="key"/>
                </div>

            </div>
          </div>
          </form>

          <!-- 背景连线 -->

          <div class="backLine backLineAside"></div>
          <div class="aside-course" style="margin-top: 30px;">
            <div class="aside-option-wrap">
              <div class="icon-course">
                课程
              </div>
              <ul class="list-group">
              <foreach name="class" item="cl">
                <li class="list-group-item">
                  <div class="course-img-wrap">
                    <img src="__PUBLIC__{$cl.mc_photo}">
                  </div>
                  <div class="course-text">
                    <p class="course-text-title"><a href="{:U('class/class_content',array('id'=>$cl['mc_id']))}">{$cl.mc_title|subtext=C('INDEX_RIGHT_TITLE')}</a></p>
                    <p class="course-text-speci">{$cl.mc_say|subtext=C('INDEX_RIGHT_SAY')}</p>
                    <p class="course-date-city">
                      <span id="course-date">{$cl.mc_addtime|date="Y-m-d",###}</span>

                    </p>
                  </div>
                </li>
                </foreach>

              </ul>
            </div>
          </div>
          <div class="aside-knowlg" style="margin-top: 30px;">
            <div class="aside-option-wrap">
              <div class="icon-course">
                知识
              </div>
              <ul class="list-group">
               <foreach name="knows" item="kn">
                <li class="list-group-item">
                  <div class="course-img-wrap">
                    <img src="__PUBLIC__{$kn.ms_photo}">
                  </div>
                  <div class="course-text">
                    <p class="course-text-title"><a href="{:U('knows/knows_content',array('id'=>$kn['ms_id']))}">{$kn.ms_title|subtext=C('INDEX_RIGHT_TITLE')}</a></p>
                    <p class="course-text-speci">{$kn.ms_say|subtext=C('INDEX_RIGHT_SAY')}</p>
                    <p class="course-date-city">
                      <span id="course-date">{$kn.ms_addtime|date="Y-m-d",###}</span>
                      <span class="course-city" id="course-city"></span>
                    </p>
                  </div>
                </li>
                </foreach>

              </ul>
            </div>
          </div>
          <div class="aside-activi" style="margin-top: 30px;">
            <div class="aside-option-wrap">
              <div class="icon-course">
                活动
              </div>
              <ul class="list-group">
               <foreach name="active" item="ac">
                <li class="list-group-item">
                  <div class="course-img-wrap">
                    <img src="__PUBLIC__{$ac.ad_photo}">
                  </div>
                  <div class="course-text">
                    <p class="course-text-title"><a href="{:U('active/active_content',array('id'=>$ac['ad_id']))}">{$ac.ad_title|subtext=C('INDEX_RIGHT_TITLE')}</a></p>
                    <p class="course-text-speci">{$ac.ad_say|subtext=C('INDEX_RIGHT_SAY')}</p>
                    <p class="course-date-city">
                      <span id="course-date">{$ac.ad_addtime|date="Y-m-d",###}</span>
                    </p>
                  </div>
                </li>
               </foreach>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- content-end -->
  <div class="backto-top">
    <a href="#"><img src="__PUBLIC__/yoga/img/up.png" alt=""></a>
  </div>

<script type="text/javascript" src="__PUBLIC__/yoga/js/Swiper-3.3.1/js/swiper.min.js"></script>
<script>
if({$banner_count}>1){
	var swiper = new Swiper('.swiper-container', {
	    pagination: '.swiper-pagination',
	    paginationClickable: true,
	    loop:true,
	    autoplay: 3500
	  });
	}

 $("#search").click(function(){
	 $('#form0').submit();
})
  var url = '__CONTROLLER__/alldata';
  var static_prefix = '__PUBLIC__';
  Vue.filter('imageprefix', function(value) {
    return static_prefix + value
  });
  new Vue({
    el: 'body',
    ready: function() {
      this.is_getting_list = true
      this.$http.get(url, {params: {page_num: this.page}}).then(function(response) {
      	var responseData = response.data
      	if (typeof responseData === 'string') {
		  responseData = JSON.parse(responseData)
		}
        console.log(response)
        this.more = responseData.have_more
        this.items = responseData.data
        this.len = this.items.length
        console.log(this.more)
        this.is_getting_list = false
      }, function(response) {
        this.is_getting_list = false
        console.log('error')
      })
    },
    data: {
      is_getting_list: false,
      page: 1,
      items: [],
      more: 1,
      len: 0
    },
    methods: {
      getMore: function() {
        this.is_getting_list = true
        this.page += 1
        this.$http.get(url, {params: {page_num: this.page}}).then(function(response) {
        	var responseData = response.data
            this.is_getting_list = false
            console.log(response)
            this.more = responseData.have_more
            this.items = this.items.concat(responseData.data)
            this.len = this.items.length
          }, function(response) {
            this.is_getting_list = false
            console.log('error')
        })
      }
    }
  })
</script>
<include file="Common:footer"/>
</body>
</html>