<!DOCTYPE html><html><head><meta charset=utf-8>
<title>生活的艺术-课程列表</title>
<include file="Common:top"/>
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">


<script>
window.__url1__='__CONTROLLER__/class_person';
window.__url2__='__CONTROLLER__/class_type';
window.__url3__='__CONTROLLER__/class_list';
window.__public__='__PUBLIC__';
</script>
<style>
.window-indi {
	  position: fixed;
	  z-index: 10000;
	  bottom: 0;
	  right: 0;
	  width: 50px;
	  height: 30px;
	  line-height: 30px;
	  color: #ffffff;
	  font-size: 20px;
	  text-align: center;
	  background-color: grey;
	}</style>
	<link href=__PUBLIC__/yoga/css/app.aa0b196897212e6e8e0c0fb45110ed57.css rel=stylesheet></head><body><app></app>
	<script>
	/* 监测页面宽度 */
		$(window).resize(function() {
			console.log('ok');
			$('.window-indi').html($('body').innerWidth());
		}).trigger('resize');
	</script>
		<script type=text/javascript src=__PUBLIC__/yoga/js/manifest.df3eb60a5109386ee904.js></script>
		<script type=text/javascript src=__PUBLIC__/yoga/js/vendor.045023d4653938ae0f50.js></script>
		<script type=text/javascript src=__PUBLIC__/yoga/js/app.073bafe6680028f8b022.js></script>



	<include file="Common:footer"/>

		</body></html>