<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>课程介绍-快乐课程</title>
<include file="Common:top"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/yoga/wxh/css/courseIntroduce4.css">
</head>

<body>
<!-- 顶部大图 -->
<div class="topImg">
	<img src="__PUBLIC__/yoga/wxh/images/MeditationSahaj1.jpg" alt="">
</div>

<div class="bg">
	<div class="container">
		<h3 class="title" style="margin-bottom:0px;">生活的艺术"快乐课程"</h3>
		<div class="row">
			<div class="col-sm-6 sContent bu">
				<h4>快乐的关键点就在您的鼻子底下</h4>
				<span>发现呼吸的密码</span>
				<p style="margin-top:10px;">你曾经留意过呼吸的模式会根据您正在经历的感受而变化吗？当您生气时，您在用什么节奏呼吸？浅而短的呼吸频率。当您放松和高兴的时候，那是怎样的呢？您深而长的呼吸，显然结论就是呼吸被我们的感受影响着，那么我们能把负面情绪通过呼吸转变吗？一定的。</p>
			</div>
			<div class="col-sm-6 sContent tong">
				<h4>通过净化呼吸法恢复与生俱足的自然快乐韵律</h4>
				<span>适用于当代社会的古老智慧</span>
				<p style="margin-top:10px;">生活的艺术快乐课程的核心是独特和深奥的呼吸技术。一个对调节身、心、灵回到本我的自然韵律特别有效的工具，净化呼吸法已经积极的转变了数以百计人的生命。</p>
			</div>
			<div class="clearfix"></div>
			<img src="__PUBLIC__/yoga/wxh/images/icons-bar-01.png" alt="" class="img-responsive center-block joaso">
			<div class="col-sm-12 bottPs">
				<p>生命中我们做的一切事情都是为了让我们快乐;不幸的是，我们并不总是容易达到我们所想要的。快乐课程将带给你毫不费力重新连接上那个取之不尽、用之不竭的快乐源泉-那就是您。</p>
			</div>
			<div class="clearfix"></div>
			<div  class="tree">
				<div class="col-sm-3">
					<h3 class="bottom-line">课程内容</h3>
					<p>学简单的瑜伽体位法</p>
					<p>调息法</p>
					<p>独一无二的呼吸净化法</p>
					<p>轻松的静心</p>
					<p>古老智慧知识分享</p>
				</div>
				<div class="col-sm-6">
					<img src="__PUBLIC__/yoga/wxh/images/tree.png" alt="" class="img-responsive">
				</div>
				<div class="col-sm-3">
					<h3 class="bottom-line">课程效益</h3>
					<p>减少压力</p>
					<p>改善健康</p>
					<p>更多的热枕</p>
					<p>更好的集中力</p>
					<p>提高自尊与自信</p>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>
<assign name="id" value="$Think.get.id" />
		<!-- 我要参加 -->
		<a href="{:U('Class/classload',array('type'=>$id))}" class="join">我 要 参 加</a>

	</div>

</div>


<!-- 返回顶部 -->
<a href="javascript:;" id="returnTop" title="回到顶部"></a>


<!-- 引入script脚本 -->
<include file="Common:footer"/>
</body>
</html>