<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>课程介绍-三摩地静心课</title>
<include file="Common:top"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/yoga/wxh/css/courseIntroduce2.css">
</head>

<body>
<!-- 顶部大图 -->
<div class="topImg"><img src="__PUBLIC__/yoga/wxh/images/topImg2.jpg"></div>

<!-- 手机端放背景图大div -->
<div class="bg">
	<!-- 中间标题及小图片区 -->
	<div class="container bg-color">
		<h3 class="middleTitle">三摩地静心课程</h3>
		<div class="row">
			<div class="col-md-9 col-sm-9 wenzi">
				<h4>静心并非由生活中逃离，而是与生命本质的真诚拥抱！</h4>
				<p>自然三摩地静心是一种优雅而不费力的静坐，带领我们超越一般的心智压力及心绪的焦虑，感受深沉的休息。20分钟的静心，相当于8小时的睡眠！</p>
			</div>
			<div class="col-md-3 col-sm-3 gift">
				<img src="__PUBLIC__/yoga/wxh/images/sunsm.jpg" class="img-responsive">
			</div>
		</div>
	</div>

	<!-- 下方四个介绍区域 -->
	<div class="jieshaowhole">
		<div class="container">
			<div class="row row-four">
				<div class="col-md-5 col-sm-5">
					<h4 class="bottom-line">课程说明</h4>
					<p>每节约2小时，共三节课程，在连续三天中完成。第一节为个别指导，课程中老师会带领学员，体验此一简单无为的静心法，依据练习的经验，给出进一步的知识。后续指导与日常生活中每日两次/每次20分钟的静心，会让你体验生命中未曾透露的深度、喜悦、与爱的绽放。</p>
					<span class="horizion"></span>
					<span class="vertical"></span>
				</div>
				<div class="col-md-6 col-sm-6 col-sm-offset-1" class="fji">
					<h4 class="bottom-line1">起源与传承</h4>
					<p>自然三摩地静心法源自吠陀传统，它提供一种令人讶异、简单、优雅、却又毫不费心力的过程，有异于市面上其他均需某种层次心理工作的冥想法门。静心并非思考有兴趣的主题。自然三摩地静心法使心智脱离所有表层概念，带引你回归本我觉知与宁静。有效的静心法并非任何形式的努力或集中。</p>
					<span class="horizion"></span>
					<span class="vertical"></span>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12 col-sm-12">
					<h4 class="bottom-line1">优点与效益</h4>
					<div class="col-md-8 col-sm-8" style="padding:0;">
						<p>自然三摩地意味不费力的超越。参与者学习放下所有的紧张及压力，提供心智亟需的深度休息，令清醒的心智安顿于本我深处。它能在短时间里松弛紧绷的神经、释放压力，使头脑获得深度休息与充电，由波动的负面情绪中回复平静，同时滋养内在性灵、强化体能与免疫力、延缓老化，并开发未知潜能。</p>
					</div>
					<div class="col-md-4 col-sm-4">
						<img src="__PUBLIC__/yoga/wxh/images/xinsammo.jpg" alt="" class="img-responsive xinsammo">
					</div>
					<span class="horizion"></span>
					<span class="vertical"></span>
				</div>
				<!-- <div class="col-md-5 col-sm-5">
					<h4>如何学习</h4>
					<hr />
					<p>生命的内在旅程是无与伦比的探险。它无法藉由书本而得知。合格适任的指引在此项学习中占重要的一环。</p>
					<span class="horizion"></span>
					<span class="vertical"></span>
				</div> -->

			</div>
		</div>
	</div>

</div>
<assign name="id" value="$Think.get.id" />
<!-- 我要参加 -->
<a href="{:U('Class/classload',array('type'=>$id))}" class="join">我 要 参 加</a>

<!-- 返回顶部 -->
<a href="javascript:;" id="returnTop" title="回到顶部"></a>



<!-- 引入script脚本 -->
<include file="Common:footer"/>
</body>
</html>