<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>课程介绍-完美瑜伽</title>
<include file="Common:top"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/yoga/wxh/css/courseIntroduce.css">
</head>

<body>
<!-- 顶部大图 -->
<div class="topImg"><img src="__PUBLIC__/yoga/wxh/images/wanmei.png"></div>

<div class="container whole">

	<!-- 中间标题 -->
	<div class="whiteDiv">
		<h3 class="toHeart">生活的艺术"完美瑜伽"</h3>
		<p class="highcourse">展现纯净的瑜伽真谛-释放身心压力之道</p>

		<!-- 课程时间和参赛资格 -->
		<div class="timeAndRight">
			<div class="timeAndRightFirst">
				<img src="__PUBLIC__/yoga/wxh/images/timeAndRight2.jpg">
			</div>
			<div class="timeAndRightSecond">
				<h3 class="bottom-line">课程内容:</h3>
				<p>欢迎来到生活的艺术瑜伽-纯正与可靠的瑜伽形式。一套完整的瑜伽科学。在生活的艺术瑜伽里，瑜伽智慧与技术皆采用一种欢快扎实的方式呈现。同时结合温和伸展与提升活力的体位法，针对身体整体健康设计，着重不仅身体层面，还蕴含心灵滋养。</p>
				<p>经过几个世纪流传至今的瑜伽体位法，与来自古代经典的智慧结合后带给您的格式将帮助您提高生活素质。</p>
				<p>透过课程中所教导的瑜伽练习，参与者不仅能达到改善体重的效果，还能改善各种慢性疾病，如：失眠、哮喘病、糖尿病、高血压及头痛。生活的艺术瑜伽里的瑜伽动作是专为学员达到平衡健康与心灵平静而设的。</p>
			</div>

		</div>

		<!-- 清除浮动 -->
		<div class="clearfix"></div>

		<!-- 课程内容介绍 -->
		<div class="neirong">
			<div class="rightNeirong">
				<img src="__PUBLIC__/yoga/wxh/images/neirong2.jpg">
			</div>
			<div class="twoLevel heartLevel">
				<h3 class="bottom-line">心灵层面</h3>
				<p>发展直觉力</p>
				<p>解压及舒缓心智</p>
				<p>提升之力</p>
				<p>改善记忆力</p>
				<p>替身思绪的清晰度</p>
				<p>让人生中的创造力绽放</p>
			</div>
			<div class="twoLevel bodyLevel">
				<h3 class="bottom-line">身体层面</h3>
				<p>加强及修复内脏</p>
				<p>改善灵活度</p>
				<p>加强肌耐力及筋骨</p>
				<p>改善姿势及矫正身体</p>
				<p>促进消化、循环与免疫力</p>
				<p>强化神经系统与内分泌器官功能</p>
				<p>然你更朝气蓬勃</p>
			</div>
			<div class="clearfix"></div>

			<img src="__PUBLIC__/yoga/wxh/images/houlfe.jpg" alt="" class="img-responsive center-block" style="margin:40px auto 0 auto;">
		</div>
	</div>

	<!-- 清除浮动 -->
	<div class="clearfix"></div>




     <assign name="id" value="$Think.get.id" />
	<!-- 我要参加 -->
	<a href="{:U('Class/classload',array('type'=>$id))}" class="join">我 要 参 加</a>
</div>

<!-- 引入script脚本 -->

<script type="text/javascript" src="__PUBLIC__/yoga/wxh/js/courseIntroduce.js"></script>
<include file="Common:footer"/>
</body>
</html>