	<include file='Common:header' />

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">

			<!-- #section:basics/sidebar -->

	<include file='Common:left' />
			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">

							<div class="row">
							    <div class="col-xs-12">
										<div>
											<table width="100%" class="table table-striped table-bordered table-hover" id="dynamic-table">
												<thead>
													<tr>
													  <th width="15%">支付方式名称</th>
													  <th width="78%">支付方式描述</th>
													  <th width="7%" style="border-right:#CCC solid 1px;">操作</th>
												  </tr>
												</thead>

												<tbody>
													<tr>
														<td height="28" >支付宝</td>
														<td> 支付宝收款接口：在线即可开通，零预付，免年费，单笔阶梯费率，无流量限制。
<a href="https://b.alipay.com/order/productDetail.htm?productId=2015110218012942" target="_blank">立即在线申请</a></td>
														<td>
															<div class="hidden-sm hidden-xs action-buttons">
																<a class="green" href="{:U('pay_alipay')}" title="支付宝">
																<i class="ace-icon fa fa-pencil bigger-130"></i>																</a>														</div>														</td>
													</tr>
													
                                                  <tr>
													  <td height="50" colspan="4" align="left">&nbsp;</td>
												  </tr>
												</tbody>
										  </table>

							    		</div>
									</div>
								</div>

<include file='Common:header_nav' />

					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


	<include file='Common:footer' />
    
		</div><!-- /.main-container -->
	</body>
</html>
