/*手机端*/
@media (max-width: 767px){
	.bg{
		background-image: url(../images/backgroundPic.jpg);
		padding: 20px;
	}
	/* p{
		line-height: 30px;
		letter-spacing: 3px;
		font-size: 1.5rem;
	} */
	.wenzi p,.jieshaowhole p{
		line-height: 30px;
		letter-spacing: 3px;
		font-size: 1.5rem;
	}
	.middleTitle{
		margin: 20px 0 10px 0;
	}
	.wenzi h4{
		margin-bottom: 30px;
	}
	.join{
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1000;
	}
	.bg-color,.jieshaowhole{
		padding: 20px;
		background-color: white;
	}
	.gift{
		padding: 50px 50px 0 50px;
	}
	.gift img{
		margin:0 auto;
	}
	.xinsammo{
		margin:30px auto;
	}
}
/*电脑端*/
@media (min-width: 768px){
	.topImg{
		margin: 0 0 80px 0;
	}
	.middleTitle{
		margin-bottom: 60px;
	}
	.gift img{
		float: left;

	}
	.wenzi{
		float: right;
	}
	.wenzi h4{
		margin-top:0;
		font-size:24px;
	}
	.row-four div{
		margin-bottom: 30px;
	}
	.wenzi p,.jieshaowhole p{
		line-height: 30px;
		letter-spacing: 1px;
		font-size: 1.7rem;
	}
	.jieshaowhole{
		background-color:white;
		padding: 40px 0 0 0;
 	}

	.join{
		width: 200px;
		margin: 40px auto;
		border-radius: 10px;
	}
	.xinsammo{
		float: right;
	}
}

/*全局样式*/
*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
}

/*顶部大图*/
.topImg{
	width: 100%;
}
.topImg img{
	width: 100%;
	max-height: 450px;
}

/*标题*/
.middleTitle{
	text-align: center;
	font-size: 3rem;
	margin-top: 0;
}

/*下方四个介绍区域*/
h4,h3{
	line-height: 30px;
	letter-spacing: 4px;
}
h4{
	color: #FFC90E;
	font-size:24px;
}
.jieshaowhole hr{
	width:18px;
	height:3px;
	margin-top: -5px;
	border:none;
	border-top:3px solid #FFC90E;
}
.row-four div{
	position: relative;
}
.row-four .horizion{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 3px;
	background-color: #FFC90E;
}
.row-four .vertical{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 3px;
	height: 20px;
	background-color: #FFC90E;
}


/*我要参加*/
.join{
	display: block;
	height: 50px;
	background-color: #FFC90E;
	font-size: 2rem;
	color: white;
	line-height: 50px;
	text-align: center;
}
.join:hover{
	background-color: #F9E626;
	color: white;
	text-decoration: none;
}
.join:focus{
    color: white;
    text-decoration: none;
}
.bottom-line{
	width:115px;
	height:auto;
	border-bottom:2px solid #FEAE03;
	padding-bottom:10px;
}
.bottom-line1{
	width:140px;
	height:auto;
	border-bottom:2px solid #FEAE03;
	padding-bottom:10px;
}